/* NotificationsPage.css */
.notifications-container {
    max-width: 100%;
    margin: 5px auto;
    padding: 10px;
    background: #fff;
    height: 70vh;
    overflow-y: auto;
  }
   
   .notification-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 20px;
   }
   
   .ant-list-item {
    cursor: pointer;
   }
   .ant-list-item:hover {
    background: #f7f7f79a;
   }
   .ant-list-item-meta-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   }
   